<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/defaultTemplate}"></html>
<head>
    <meta charset="UTF-8">
    <title>Add Concert | Concert Tracker App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/concerts}">Concerts</a>
  </li>

    <div class="container mt-4">
        <h1>Add Concert</h1>
        <form action="/concerts/add" method="post">
          <div class="form-group">
              <label for="artist">Artist:</label>
              <input type="text" id="artist" name="artist" class="form-control" required>
          </div>
          <div class="form-group">
              <label for="venue">Venue:</label>
              <input type="text" id="venue" name="venue" class="form-control" required>
          </div>
          <div class="form-group">
              <label for="setlist">Setlist:</label>
              <textarea id="setlist" name="setlist" class="form-control" rows="4" required></textarea>
          </div>
          <input type="hidden" id="userId" name="userId" th:value="${userId}">
          <button type="submit" class="btn btn-primary">Add Concert</button>
      </form>

        </div>

    </div>

</body>
</html>
