<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/defaultTemplate}">
<head>
    <meta charset="UTF-8">
    <title>Concerts | Concert Tracker App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/concerts}">Concerts</a>
    </li>

    <div class="container mt-4">
        <h1>Your Concerts</h1>
        <a th:href="@{/concerts/add}" class="btn btn-primary">Add Concert</a>
        <div th:if="${concerts.isEmpty()}">
            <p>You haven't added any concerts yet.</p>
        </div>
        <ul>
            <li th:each="concert : ${concerts}">
                <a th:href="@{/concerts/{id}(id=${concert.id})}" th:text="${concert.artist} + ' at ' + ${concert.venue}"></a>
            </li>
        </ul>
    </div>

</body>
</html>
